<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>API Machine Learning!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Hola
      </h1>
      <p class="subtitle">
        Esta es la primera aplicación de <strong>Paco el Chato</strong>!
      </p>
      <p>Esta aplicación es un modelo de Machine Learning</p>
      <p>El algoritmo utiizado es el de Arboles de desición</p>
      <p>Deseas ¿hacer una prueba?</p>
      <p>para ello necesitas correr el siguiente codigo desde tu terminal</p>
    </div>
  </section>
  </body>
</html>